<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="C:\Users\expert2000\AppData\Roaming\Quake3\baseq3\games.log" />
    <add key="webHookUrl" value="https://outlook.office.com/webhook/93ac8539-43e5-44e7-b07a-4c129bd442fc@86eb5cdc-05d5-4952-b36d-bc110af1e2e5/TeamFoundationServer/851608222d1143009ef17e945a98a6f4/ceb63abe-cf00-4f2e-96d9-e13f45098e52" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>